/* Modify main font size */
:root {
  --r-main-font-size: 32px;
  /* --r-main-font-size: 42px; */
}

/* Enlarge the font size of slide numbers */
.reveal .slide-number {
  font-size: 1.75rem;
  color: #ffffff;
}

/* Remove white borders from images */
.reveal section img {
  background:none;
  border:none;
  box-shadow:none;
}

.reveal .disaster {
  font-size: 3em;
}

/* Font setting for source code */
.reveal pre, .reveal code, .reveal kbd, .reveal samp, .reveal var {
  font-family:
    'Noto Sans Mono CJK JP',            /* Noto */
    'Source Han Code JP',               /* 源ノ角 */

    'Ricty Diminished',                 /* Inconsolata, Circle M+ 1m */
    'Ricty',                            /* Inconsolata, Migu 1M */
    'Myrica M',                         /* Inconsolata, 源真ゴシック or Mgen+ */
    'MyricaM M',                        /* Inconsolata, Mgen+ */
    'Rounded M+ 1m regular',            /* M+ OUTLINE FONTS, 源ノ角ゴシック */
    'Rounded M+ 2m regular',            /* M+ OUTLINE FONTS, 源ノ角ゴシック */
    'Rounded Mgen+ 1m regular',         /* M+ OUTLINE FONTS, 源ノ角ゴシック */
    'Rounded Mgen+ 2m regular',         /* M+ OUTLINE FONTS, 源ノ角ゴシック */
    'Migu 1M',                          /* M+, IPAゴシック */
    'Migu 2M',                          /* M+, IPAゴシック */
    'M+ 1m',                            /* M+ */
    'M+ 2m',                            /* M+ */

    SFMono-Regular,                     /* SF Mono, Migu 1M (macOS10.12+) */
    Consolas,                           /* 英字 (WindowsVista+) */
/*  Menlo,                              /* 英字 (macOS10.6+) */
/*  Monaco,                             /* 英字 (Classic Mac OS+) */
    'Roboto Mono',                      /* 英字 (Android4+) */
/*  'Liberation Mono',                  /* Arial or Times New Roman or Courier New */
    'Courier New',                      /* Courier (macOS10.3+?, iOS4+?, WindowsXP+?) */
/*  Courier,                            /* 英字 (macOS10.3+?, WindowsXP+?) */
/*  'Osaka-mono', 'Osaka-等幅',         /* 日本語 (Classic Mac OS-) [mac:monospace] */
    Meiryo, /*'メイリオ',               /* 日本語 (WindowsVista+) */
/*  'MS Gothic', 'ＭＳ ゴシック'        /* 日本語 (Windows3.1+) [win:monospace] */
    monospace;
}

/* Disable text transformation */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
}

